.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--second-bg-coor);
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer-box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--first-bg-coor);
}

.footer-item {
  font-style: normal;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-address {
  color: var(--first-bg-coor);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.contact-text {
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  transition: color var(--timing-function);
}
