.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--second-bg-coor);
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    align-items: baseline;
  }
}

.footer-box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item {
  font-style: normal;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-address {
  color: var(--first-bg-coor);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.contact-text {
  display: block;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
