.header {
  border-bottom: 1px solid #ececec;

  > .container {
    display: flex;
    align-items: center;
  }
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-main-color);
}

.logo__text {
  color: var(--accent-text-color);
}

.header-list__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-main-color);

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;

    transition: transform var(--timing-function);
  }
}

.current {
  color: var(--accent-text-color);
}

.contact-list {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact-list__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contact-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
