body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-main-color);
  font-size: 14px;
  background-color: var(--first-bg-coor);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
