:root {
  --first-main-color: #212121;
  --second-main-color: #757575;
  --features-title-color: #212121;
  --features-text-color: #757575;
  --accent-text-color: #2196f3;
  --btn-focus-color: #188ce8;
  --portfolio-btn-color: #212121;
  --first-bg-coor: #ffffff;
  --second-bg-coor: #2f303a;
  --title-first-gap: 10px;
  --portfolio-title-gap: 4px;
  --portfolio-box-border: 1px solid #eeeeee;
  --main-flex-gap: 30px;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-fill: #afb1b8;
  --main-font-family: 'Roboto';
  --second-font-family: 'Raleway';
}
